* {
    margin: 0;
    padding: 0;
}
h1 {
    /* background-color: rgb(44, 44, 44); */
    color: goldenrod;
}
.box {
    height: 40px;
    width: 40px;
    background-color: red;
    border: 2px solid black;
}
.container {
    /* display: flex; */
}
.row {
    /* background-color: red; */
    display: flex;
}
.column {
    background-color: black;
}