<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container head">
        <h1>Counter</h1>
        <p>{{ session['count'] }}</p>
    </div>
    <hr class="container" id="breakingpoint">
    <div class="container buttons">
        <form action="/counter" method="get">
            <input type="submit" value="Click">
        </form>
        <form action="/reset" method="get">
            <input type="submit" value="Reset">
        </form>
    </div>
</body>
</html>