h1 {
    background-color: black;
    color: white;
}
h2 {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}
h3 {
    background-color: cornflowerblue;
    text-align: right;
}
#cloud {
    color: aqua;
}