.container {
    padding: 15px;
}

#sButton {
    padding: 3px 20px;
    border-color: teal;
    background-color: rgba(211, 211, 211, 0.295);
    color: teal;
    border-radius: 15px;
    font-weight: bold;
}

#plus {
    background-color: teal;
    border-radius: 100%;
    border-color: transparent;
    color: white;
    text-align: center;
    font-size: 20px;
    text-align: center;
    padding-bottom: 4px;
    padding: 0px 7px 5px;
    /* height: 40px;
    width: 40px; */
}

#account {
    background-color: royalblue;
    color: white;
    border-color: black;
    border-style: solid;
    box-shadow: 3px 3px black;
    padding: 5px 25px;
    font-size: medium;
}

.divpadd {
    padding: 10px 0px;
}